.wrapper1 {
  width: 100%;
}

.wrapper1 h5 {
  color: var(--blue);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

.form1 {
  width: 45%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.form1 h5 {
  font-size: 16px;
}

.form1 input {
  width: 100%;
  background: var(--grey);
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 36px 10px 16px;
  transition: all 0.3s ease;
  font-size: 14px;
}

.form1 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.form1 ul .head {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.form1 ul .head li {
  font-size: 12px;
  color: var(--dark-grey);
  text-align: center;
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin: 9px 0;
  align-items: center;
}
.form1 .content li {
  font-size: 11px;
  font-weight: bold;
  color: var(--dark-grey);
  text-align: center;
}

.form3 {
  width: 45%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.form3 h5 {
  font-size: 16px;
}

.form3 input {
  width: 100%;
  background: var(--grey);
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 36px 10px 16px;
  transition: all 0.3s ease;
  font-size: 14px;
}

.form3 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.form3 ul .head {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.form3 ul .head li {
  font-size: 12px;
  color: var(--dark-grey);
  text-align: center;
  text-transform: uppercase;
}

.form3 .content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  align-items: center;
  margin: 9px 0;
}
.form3 .content li {
  font-size: 11px;
  font-weight: bold;
  color: var(--dark-grey);
  text-align: center;
}

.form2 {
  width: 45%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.head_form2 {
  display: flex;
  justify-content: space-between;
}
.head_form2 h5 {
  font-size: 16px;
  color: var(--dark-grey);
}

.head_form2 button {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 9px 14px;
  background-color: rgb(249, 44, 78);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.form2_input {
  padding: 6px;
}

.form2_input div {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 10px;
  margin: 8px 0;
  align-items: center;
}

.form2_input div input {
  width: 100%;
  background: var(--grey);
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 36px 10px 16px;
  transition: all 0.3s ease;
  font-size: 14px;
}

.form2_input div label {
  font-size: 12px;
  font-weight: bold;
  color: var(--dark-grey);
}

@media only screen and (max-width: 900px) {
  .container {
   display: flex;
   flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 25px;
  }
  .form1 {
    width: 100%;
  }
  .form2 {
    width: 100%;
  }
  .form3 {
    width: 100%;
  }
}
